body, html {
	margin: 0px;
	height: 100%;
}

.left, .right {
	font-family: Condiment;
	font-weight: bold;
	float: left;
	text-align: center;
	width: 49%;
	width: 100%;
	height: 100%;
}

.linear {
	background: -webkit-linear-gradient(left, green 33.3%, white 33.3%, white 66.6%, orange 66.6%);
}

.radial {
	background: -webkit-radial-gradient(center, circle contain, #C00C00, white);
}
