body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.box {
	width: 100px;
	height: 100px;
	background: red;
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	-o-transform: rotate(30deg);
	transform: rotate(30deg);
}

.text {
	background: black;
	position: absolute;
	color: white;
	padding: 10px;
	-webkit-transform: rotateX(-31deg) rotateY(33deg) rotateZ(49deg);
	-moz-transform: rotateX(-31deg) rotateY(33deg) rotateZ(49deg);
      -o-transform: rotateX(-31deg) rotateY(33deg) rotateZ(49deg);
         transform: rotateX(-31deg) rotateY(33deg) rotateZ(49deg);
}
